.zoom-hover:hover {
transform:  scale(1.1);
}


.list-group-item:hover {
  transform:  scale(1.1);
  background:  black;
  color: white;


}

.card-img-top:hover {
  transform: scale(1.1);

}

.jumbotron {
  background: url(../app/assets/images/animals-jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.display-5 {
  color: white;
  letter-spacing: 0.5;
  font-size: 3em;

}

.welcome-text {
  color:  black;
  font-size: 26px;
}


.badge {

vertical-align: super;
font-size: 12px;
background: #ff0000;
color: #fff;
padding: 0 5px;
vertical-align: top;

}


.home-title {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}
.home-text {
  font-family: 'Charm', cursive;
  font-size: 24px;  
}

/*start of rotating text*/

.word {
  display: inline-block;
  color: red;
}

.rotating-word {
 
  position: absolute;
  overflow: hidden;
  animation: animate-rotate 10s linear infinite;
  opacity: 0;
  font-size: 3em;
}

@keyframes animate-rotate {
  0%
  {
    opacity: 0;
    transform: translateY(-50px;);
  }
  2% 
  {
    opacity: 1;
    transform: translateY(0px);
  }
  18%
  {
    opacity: 1;
    transform: translateY(0px);
  }
  20%
  {
    opacity: 0;
    transform: translateY(50px);
  }
  100%
   {
      opacity: 0;
      transform: translateY(50px);
    }
}

.word .rotating-word:nth-child(1)
{
  animation-delay: 0s;
}

.word .rotating-word:nth-child(2)
{
  animation-delay: 2s;
}

.word .rotating-word:nth-child(3)
{
  animation-delay: 4s;
}

.word .rotating-word:nth-child(4)
{
  animation-delay: 6s;
}

.word .rotating-word:nth-child(5)
{
  animation-delay: 8s;
}

/*end of rotating text*/





#car {
	max-height: 200vh;
}
body {
  overflow-x: hidden; 
}
img {
  max-width: 100%;
  overflow-y: hidden; 
  overflow-x: hidden; 
}


#navigation {

  font-size: 20px;
  font-family: sans-serif;
  background: #DCEDC2;
  z-index: 3

}

.header-title {
 font-family: 'Playfair Display', serif;
 letter-spacing: 1px;
}



#modern-farmers {
  font-weight: 200px;
  font-family: arial-black;
  letter-spacing: 5px;
}

.feature-collections {
  font-size: 2em;
  font-weight: 900;
  font-family: courier;
  letter-spacing: 5px;
  text-decoration: underline;
  

}



.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.card-text {
  font-size: 24px;
  font-weight: 300%;
  font-family: roboto;
}

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}


.text-farm {
  font-size: 2.5em;
  letter-spacing: 1.5px;
  font-family: roboto;
  font-weight: bolder;
  text-shadow: 2px 1px;
}

.farm-text {
  font-size: 1.5em;
  font-style: italic;
}

.chicken-farm {

}

/*start of 3d carousel*/

 .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 380px;
      background: #fff;
    }

#caro {
  max-height: 300px;
  max-width: 300px;
}

.three-d {
  padding-top: 100px;
}

.swiper-slide .imgBX {
  width: 100%;
  height: 300px;
  overflow: hidden;
 
}

.swiper-slide .imgBX #caro {
  width: 100%;
}

.swiper-slide .details {
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px;
}

.swiper-slide .details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

.swiper-slide .details h3 span  {
  font-size: 16px;
  color: #f44336;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*end of 3d carousel*/


#parallax-text {
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
  font-weight: 100px;
  text-align: justify;
  letter-spacing: 1px;


}




/*start of parallax*/

section {
  width: 100%;
  height: 120vh;
  box-sizing: border-box;
}

.sec1 {
  background: url(../app/assets/images/chicken-parallax.jpg);
  background-size: cover;
  background-position:  center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.sec2 {
  background: url(../app/assets/images/parralax2.jpg);
  background-size: cover;
  background-position:  center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.sec3 {
  background: url(../app/assets/images/pig-parallax.jpg);
  background-size: cover;
  background-position:  center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.secText {
  padding: 20px 100px;
  height: auto;
}

.secText p {
  font-size: 24px;
  margin-top: 20px;
}

/*start of trending*/
#list {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

#list1 {
  list-style: none;
  font-family: arial;
  font-size: 3em;
  letter-spacing: 15px;
  color: #484848;
  text-shadow: none;
  animation: animate 1s infinite linear
}

@keyframes animate 
{
  0%
{
  color: #484848;
  text-shadow: none;
} 
    18%
    {
        color: #484848;
        text-shadow: none;
    }
      20%
      {
        color: #fff900;
        text-shadow: 0 0 7px #fff900 , 0 0 20px #ff6c00;
      }
    
  30%
{
  color: #484848;
  text-shadow: none;
} 
    35%
    {
        color: #484848;
        text-shadow: 0 0 7px #fff900 , 0 0 20px #ff6c00;
    }
    70%
{
  color: #484848;
  text-shadow: none;
  } 
  85%
    {
      color: #fff900;
      text-shadow: 0 0 7px #fff900 , 0 0 20px #ff6c00;
    }
}


#list #list1:nth-child(1)
{
  animation-delay: .2s;
}
#list #list1:nth-child(2)
{
  animation-delay: .4s;
}
#list #list1:nth-child(3)
{
  animation-delay: .6s;
}
#list #list1:nth-child(4)
{
  animation-delay: .8s;
}
#list #list1:nth-child(5)
{
  animation-delay: 1s;
}
#list #list1:nth-child(6)
{
  animation-delay: 1.2s;
}
#list #list1:nth-child(7)
{
  animation-delay: 1.4s;
}
#list #list1:nth-child(8)
{
  animation-delay: 1.6s;
}

/*end of trending now*/

/*start of footer*/
#footer {
  background: #2F9599;
}
#snake-hover  {
  list-style: none;
  display: flex;
}

#snake-hover #snakehover a {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  line-height: 50px;
  font-size: 40px;
  text-align: center;
  background: #2F9599;
  text-decoration: none;
  color: #262626;
  margin: 0 10px;
  transition: .5s;
}

#snake-hover #snakehover a span {
  position: absolute;
  transition: transform .5s;
}


#snake-hover #snakehover a span:nth-child(2),
#snake-hover #snakehover a span:nth-child(4) {
  width: 5px;
  height: 100%;
  background: #262626;
}


#snake-hover #snakehover a span:nth-child(2) {
top: 0;
left: 0;
transform: scaleY(0);
transform-origin: bottom;
}

#snake-hover #snakehover a:hover span:nth-child(2) {
 transform: scaleY(1);
  transform-origin: top;
  transition: transform .5s; 
}


#snake-hover #snakehover a span:nth-child(4) {
top: 0;
right: 0;
transform: scaleY(0);
transform-origin: top;
}

#snake-hover #snakehover a:hover span:nth-child(4) {
 transform: scaleY(1);
  transform-origin: bottom;
  transition: transform .5s; 
}

.footer-title {
  font-family: 'Dosis', sans-serif;
  font-size: 34px;
  font-weight: 100px;
}

.footer-p {
  font-family: 'PT Sans', sans-serif;
  font-size: 26px;
  font-weight: 20px;
  letter-spacing: 1px;
}

#payment {
  display: flex;
  list-style: none;
}

#payment #payment-option  a {
 display: block;
  position: relative;
  width: 60px;
  height: 60px;
  line-height: 50px;
  font-size: 40px;
  text-align: center;
  background: #2F9599;
  text-decoration: none;
  color: #262626;
  margin: 0 10px;
  transition: .5s;
}

.copyright {
  color: white;
  font-size: 18px;
  font-weight: 100px;
}




/*start of register */
}
.register-form {
  width: 400px;
  background: #E5FCC2;
  opacity: .9;
  margin: 40px auto;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #555;
}

header {
  text-align: center; 
}

#avatar {
  height: 100px;
  width: 100px;
}

.company  {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  color: #009688;
}

.heading {
  font-weight: bold;
  color: #666;
  font-size: 25px;
}

#form-box {
  padding: 10px;
  width: 50%;
  background-color: #051019;
  opacity: 0.7;
  color: white;
 /* margin: 50px 10px 50px 300px;*/
  box-shadow: 20px 20px 25px #555;
}

.inp {
  width: 100%;
  padding: 10px 10px 10px 0;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 16px;
  color: #009688;
  background: #eceff1;
}

.inp:focus {
  outline: none;
  color: #009688;
  font-weight: bolder;
  border-bottom: 1px solid #009688;
}

.sub-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background: #009688;
  cursor: pointer;
}

.sub-btn:focus {
  outline: none;
}

.sub-btn:hover {
  background: #00796b;

}

.footer-registration {
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  color: #546e7a;
}

.footer-registration {
  text-decoration: none;
  color: #1976d2;

}

.icon {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 25px;
  padding: 8px 8px 8px 0;
  color: #006988;
}

.input {
  margin-left: 35px;
}

@media (max-width: 720px) {
  .main {
    width: 90%;
  }
}

/*end of registration form*/

#razor-shape {
  width: 100%
  height: 100vh;
}

#razor-shape.section1 {
  position: relative;
  overflow: hidden;
 background: url(../app/assets/images/wheat.jpg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;


}

#razor-shape.section1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right;
  transform: skewY(8deg);
}

#razor-shape.section1:after {
  content: "";
  position: absolute;
  top: 100%;
  right: -50%;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: left;
  transform: skewY(-8deg);
}

#razor-shape.section3 {
  position: relative;
  overflow: hidden;
 background: url(../app/assets/images/windmill.jpg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;

}

#razor-shape.section3:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: left;
  transform: skewY(4deg);
}

#razor-shape.section2 {
  height: auto;
  padding: 100px;
  box-sizing: border-box;
}

.aboutus-text {
  font-size: 2em;
  letter-spacing: 1.5;
  font-family: 'Indie Flower', cursive;


}

.aboutus-title {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}



 .team-row p {
  border-left: 5px solid #f00;
  color: white;
 }

 
/*start of product.php*/
.image-product {
  width: 400px;
  height: 400px;
}

.Information {
  font-size: 100px;
  font-weight: bold;

}

.livestock {
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 5px;
}

.diamond {
  transform: rotate(45deg);
  height: 100px;
  width: 100px;
}

.our-team-area {
  padding-top: 120px;
}

.our-team-text {
  padding-bottom: 60px;
}

.our-team-text h1 {
  font-weight: 600;
  font-size: 34px;
}

.our-team-box {
  text-align: center;
}

.our-team-box img {
  border: 10px solid #202020;

}

.icons i {
  margin: 6px;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 3px;

}

.icons {
  background-color: #2fd3ae;
  padding: 8px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  margin-top: -35px;

}

.icons a {
  color: #fff;
}

.icons a:hover {
  color: #202020;
}

.fluid {
  height: 300px;
  width: 300px;
}



